
.text-center {
    text-align: center;
}

.page-content h3.heading{
    color: #3f7384;
}

.bdr-left{
    border-left: 1px solid #eff2f5;
}

.btn:focus {
    /*outline: -webkit-focus-ring-color auto 5px;*/
    outline: none;
    outline-color: transparent;
}
.showInline{
    display: inline-block !important;
}
hr{
    border: 0;
    border-top: 1px solid #0c5269;
    margin: 5px 0 0;
    width: 100%;
}
.hr{
    border: 0;
    border-top: 1px solid #cdcdcd;
    margin: 18px 0;
    width: 100%;
}
.loader-wrapper{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}
.pull-left{
    float: left;
}
.pull-right{
    float: right;
}
.pos-rel{
    position: relative;
}

.loader{
    z-index: 1000;
    color: #fff;
    text-align: center;
    margin-top: 35vh;
}
.text-alert{
    color: red
}
.align-right{
    text-align: right;
}
.fa-6x{
    font-size: 6em;
}
.fa-7x{
    font-size: 7em;
}
.fa-8x{
    font-size: 8em;
}
.delete-perm-badge{
    padding: 2px 8px;
    display: inline-block;
    margin-right: 7px;
    font-size: 12px;
    border-radius: 3px;
    border: 1px solid #91c2d2;
    
    color: #777;
    background: #d2f1fb;

    /*color: #1890ff;
    background: #e6f7ff;
    border-color: #91d5ff;*/
}
.delete-perm{
    color: inherit;
    font-size: 9px;
    position: absolute;
}
.delete-perm:hover{
    color: red;
}
.line-separator{
    border-top: 1px solid #cdcdcd;
    margin: 25px 0;
}
.bottom-bdr{
    border-bottom: 1px dashed #dedede;
}
.top-margin5{
    margin-top: 5px;
}
.top-margin10{
    margin-top: 10px;
}
.top-margin15{
    margin-top: 15px;
}
.top-margin20{
    margin-top: 20px;
}
.top-margin25{
    margin-top: 25px;
}
.border-light{
    border: 1px solid #cdcdcd;
} 
.pad20{
    padding: 20px;
}

.clearfix{
    clear: both;
}
div[class*='col-']{
    float: left;
}
.hide{
    display: none;
}
.modal-lg{
    width: 750px!important;
}

@media (max-width:992px){
    .sidebar-navLink{
        width: 20% !important;
        float: left;
    }
    .createRoleBox{
        width: 74% !important;
    }
    .dropdown-txt .fa-angle-down::before{
        display: none;
    }
    .create-client-container{
        width: 100% !important;
    }
    .create-user-box{
        width: 100% !important;
    }
    .dropdown-bx{
        width: 100!important;
        right: 20 !important;
    }
    .modal-lg{
        width: 100%!important;
    }
    
}

@media (max-width:768px){
    .sidebar-navLink{
        width: 20% !important;
        float: left;
    }
    .createRoleBox{
        width: 100% !important;
    }
    
}